.name {
    display: flex;
    height: 40px;
    align-items: flex-end;
}

.input {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

@media (min-width: 900px) {
    .name {
        width: 440px;
        justify-content: space-between;

    }

    .input {

    }

    .name input {
        width: 190px;
    }
}

@media (min-width: 451px) and (max-width: 899px) {
    .name {
        width: 100%;
        justify-content: space-between;
        padding: 0 15px;
    }

    .name input {
        width: 200px;
    }
}

@media (max-width: 450px) {
    .name {
        width: 100%;
        justify-content: space-between;
        padding: 0 15px;
    }

    .name input {
        width: 170px;
    }
}